{% extends 'layout.html' %}
{% block body %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-  
        scale=1">
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-
        awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        
        <form class="example" method="POST" action="" 
         style="margin:auto;max-width:600px">
            <input type="text" placeholder="Search by band " name="band">
            <button type="submit">Submit</button>
        </form>
        <p></p>
        <center>
        {% for item in data %}
            <tr>
                <td>
                    <a href="/Band/{{item['band_id']}}"><font size="+2">{{item['B_name']}}</font></a>                   
                </td>
                </br>
            </tr>
        {% endfor %}
{%endblock%}